import * as S from './styles'

export type {{pascalCase name}}Props = {
  prop1?: string | number
}

const {{pascalCase name}} = ({ prop1 = 'default' }: {{pascalCase name}}Props) => (
  <S.Wrapper prop1={prop1}>
    <h1>{{pascalCase name}} with {prop1}</h1>
  </S.Wrapper>
)

export default {{pascalCase name}}
